{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div id="app" class="clearfix">
  <div class="map-container col-sm-8 col-lg-9">
    <div>
      <div id="map-canvas"></div>
    </div>
  </div>
  <div id="control-panel" class="col-sm-4 col-lg-3 clearfix">
    <div class="col-xs-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body" id="options-panel">
          <div>
            <h4>Hotels</h4>
            <select data-type="hotel" id="hotel-choices" class="current-choice">
               {% for hotel in hotels %}
              <option value='{{hotel.id}}'>{{hotel.name}}</option>
              {% endfor %} 
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Restaurants</h4>
            <select data-type="restaurant" id="restaurant-choices" class="current-choice">
              {% for restaurant in restaurants %}
              <option id='{{restaurant.id}}'>{{restaurant.name}}</option>
              {% endfor %} 
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Activities</h4>
            <select data-type="activity" id="activity-choices" class="current-choice">
               {% for activity in activities %}
              <option id='{{activity.id}}'>{{activity.name}}</option>
              {% endfor %} 
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-12">
      <h3>
      </h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="day header">
            <button data-action = "deleteday" class ="btn btn-square" id="daydelete">Day 1 X<btn>
          </div>
          <div class="day-buttons">
            <button data-action = "switchdays" class="btn btn-circle day-btn" id="day1">1</button>
            <button data-action="dayadd" class="btn btn-day btn-circle">+</button>
        </div>

        <div class="panel-body" id="itinerary">
          <div>
            <h4>My Hotel</h4>
            <ul class="list-group-hotel">
              <div>
              </div>
            </ul>
          </div>
          <div>
            <h4>My Restaurants</h4>
            <ul class="list-group-restaurant">
              <div>
              </div>
            </ul>
          </div>
          <div>
            <h4>My Activities</h4>
            <ul class="list-group-activity">
                <div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  {% autoescape false %}
  var hotels = {{ hotels | json }};
  var restaurants = {{ restaurants | json }};
  var activities = {{ activities | json }};
  {% endautoescape %}
</script>
{% endblock %}
